<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCA - Retrival as Code</title>
</head>
<body>
    <h2>Retrival as Code</h2>
    <form id="textForm">
        <label for="input_text">Enter your query:</label><br><br>
        <textarea id="input_text" name="input_text" rows="10" cols="30"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
    <div id="result"></div>

</body>
    <script>
        // Handle form submission using JavaScript
        document.getElementById('textForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            // Get the text from the textarea
            const inputText = document.getElementById('input_text').value;

            // Send it as JSON to the server
            const response = await fetch('/v2/nameservice', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ input: inputText })
            });

            const result = await response.json();
            document.getElementById('result').textContent = JSON.stringify(result, null, 2);

            // alert(`Server Response: ${JSON.stringify(result)}`);
        });
    </script>
</html>
